.body{
    width: 100%;
    height: 500px;
    background-color: yellow;
}
.head{
    text-align: center;
}
.container{
    margin-left: 27%;
}
.card{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: aqua;
}
.box1{
    display: flex;
}
.box2{
    display: flex;
}
.box3{
    display: flex;
}
.box4{
    display: flex;
}
footer{
    text-align: center;
    font-size: 20px;
}
a{
    color: black;
}
.card1{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: rgba(100, 148, 237, 0.851);
    animation-name: card1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes card1{
    from{
        transform: skewX(-20deg);
    }
    to{
        transform: skewX(20deg);
    }
}
.card2{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: purple;
    animation-name: card2;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes card2{
    from{
        transform: skewY(-20deg);
    }
    to{
        transform: skewY(20deg);
    }
}
.card3{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: rgba(100, 148, 237, 0.851);
    animation-name: card3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes card3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card4{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: rgba(100, 148, 237, 0.851);
    animation-name: card4;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes card4{
    from{
        transform: scaleY(100%);
    }
    to{
       transform: scaleY(50%);
    }
}
.card5{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: rgba(255, 0, 0, 0.516);
    animation-name: card5;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes card5{
    from{
        transform: scaleX(100%);
    }
    to{
        transform: scaleX(50%);
    }
}
.card6{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    margin: 20px;
    background-color: green;
    animation-name: card6;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes card6{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}
/* index2.html start */
.body2{
    width: 100%;
    height: 620px;
    background-color: yellow;
}
.container2{
    margin-left: 40%;
}
.span{
    width: 60px;
    height: 60px;
    border: 1px solid black;
   margin: 10px;
    background-color: rgb(16, 201, 16);
}
.span1{
    transition: 1s;
}
.span1:hover{
    width: 250px;
}
.span2{
    transition: width 1s, height 2s;
}
.span2:hover{
    width: 250px;
    height: 250px;
}
.span3{
    transition: 1s;
    transition-timing-function: linear;
}
.span3:hover{
    width: 250px;
}
.span4{
    transition: 1s;
    transition-timing-function: ease;
}
.span4:hover{
    width: 250px;
}
.span5{
    transition: 1s;
    transition-timing-function: ease-in;
}
.span5:hover{
    width: 250px;
}
.span6{
    transition: 1s;
    transition-timing-function: ease-out;
}
.span6:hover{
    width: 250px;
}
.span7{
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.span7:hover{
    width: 250px;
}
/* index3.html start */
